{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
        <h1 class="mt-4 mb-1 text-4xl font-bold">Entrance Exams</h1>
        <p class="text-sm antialiased text-gray-600 font-light"><a href="https://entranceexams.cheltladiescollege.org"
                target="_blank">entranceexams.cheltladiescollege.org</a></p>
    </div>
    <div class="antialiased leading-normal">
        <p class="my-4">
            todo
        </p>
        <div class="my-8 grid grid-cols-4 gap-0 leading-normal">
            <div class="font-semibold">Statistics</div>
            <div class="font-light text-right col-span-3">
                todo <br />
                A+ <a href="https://observatory.mozilla.org/" target="_blank">observatory.mozilla.org</a><br />
                100/100/100/100 <a href="https://web.dev/measure/" target="_blank">PageSpeed Insights</a><br />
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8" x-data>

    <picture class="object-cover w-full h-full opacity-25"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-25');">
        {{ $clclogo_avif := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clclogo_webp := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clclogo := resources.Get "/images/placeholder.png" | fingerprint }}
        <source type="image/avif" srcset="{{ $clclogo_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $clclogo_webp.RelPermalink }}">
        <img src="{{ $clclogo.RelPermalink }}" alt="CLC Crest" class="object-cover w-full h-full">
    </picture>

    <picture class="object-cover w-full h-full opacity-25"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-25');">
        {{ $clcphones_avif := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcphones_webp := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcphones := resources.Get "/images/placeholder.png" | fingerprint }}
        <source type="image/avif" srcset="{{ $clcphones_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $clcphones_webp.RelPermalink }}">
        <img src="{{ $clcphones.RelPermalink }}" alt="Device Mockup Phones" class="object-cover w-full h-full">
    </picture>

    <picture class="object-cover w-full h-full opacity-25"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-25');">
        {{ $clcbrowser_avif := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcbrowser_webp := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcbrowser := resources.Get "/images/placeholder.png" | fingerprint }}
        <source type="image/avif" srcset="{{ $clcbrowser_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $clcbrowser_webp.RelPermalink }}">
        <img src="{{ $clcbrowser.RelPermalink }}" alt="Device Mockup Browser" class="object-cover w-full h-full">
    </picture>

    <picture class="object-cover w-full h-full opacity-25"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-25');">
        {{ $clcipad_avif := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcipad_webp := resources.Get "/images/placeholder.png" | fingerprint }}
        {{ $clcipad := resources.Get "/images/placeholder.png" | fingerprint }}
        <source type="image/avif" srcset="{{ $clcipad_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $clcipad_webp.RelPermalink }}">
        <img src="{{ $clcipad.RelPermalink }}" alt="Device Mockup iPad" class="object-cover w-full h-full">
    </picture>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="antialiased leading-normal my-8">
        <p class="mb-4">todo</p>
    </div>
    <div>
        <div class="my-8 grid grid-cols-2 gap-0">
            <div class="font-semibold">Stack</div>
            <div class="font-light">
                <a href="https://laravel.com" target="_blank">Laravel</a><br />
                <a href="https://github.com" target="_blank">Github</a><br />
                <a href="https://aws.amazon.com/ec2/" target="_blank">Amazon EC2</a><br />
                <a href="https://aws.amazon.com/rds/" target="_blank">Amazon RDS</a><br />
                <a href="https://aws.amazon.com/certificate-manager/" target="_blank">Amazon Certificate Manager</a><br />
                <a href="https://aws.amazon.com/route53/" target="_blank">Amazon Route53</a><br />
                <a href="https://aws.amazon.com/cloudfront/" target="_blank">Amazon Cloudfront</a><br />
                <a href="https://aws.amazon.com/sns/" target="_blank">Amazon SNS</a><br />&nbsp;
            </div>
            <div class="font-semibold">Libraries & Technologies</div>
            <div class="font-light">
                <a href="https://tailwindcss.com" target="_blank">Tailwind.Css</a><br />
                <a href="https://alpinejs.dev" target="_blank">Alpine.Js</a><br />&nbsp;
            </div>
            <div class="font-semibold">Integrations</div>
            <div class="font-light">
                <a href="https://ldaprecord.com" target="_blank">Ldap</a><br />&nbsp;
            </div>
        </div>
    </div>
</div>


{{- partial "footer.html" . -}}
{{ end }}