{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
        <h1 class="mt-4 mb-1 text-4xl font-bold">Helpdesk</h1>
        <p class="text-sm antialiased text-gray-600 font-light"><a href="https://helpdesk.cheltladiescollege.org"
                target="_blank">helpdesk.cheltladiescollege.org</a></p>
    </div>
    <div class="antialiased leading-normal">
        <p class="my-4">
            Colleges estate consists of over 20 boarding houses with 1600 people on site, management of buildings, IT support, cleaning, portering or security issues required a centralised system to facilitate easy reporting and communication.
        </p>

        <p class="my-4">
            Helpdesk provides engineers and users a simple web interface to view and create tickets for the various teams to action. The system also provides analytics, reporting and feedback from users to aid in management decisions.
        </p>

        <p class="my-4">
            The system features a fully fledged assets management system allowing assets to be assigned to tickets or users, maintaining a history of issues with assets.
        </p>


        <div class="my-8 grid grid-cols-4 gap-0 leading-normal">
            <div class="font-semibold">Statistics</div>
            <div class="font-light text-right col-span-3">
                20 Departments<br />
                1600 Users<br />
                Over 150,000 tickets created<br />
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8" x-data>

    <picture class="object-cover w-full h-full opacity-0 dark:brightness-75"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-0');"
        >
        {{ $homelogo_avif := resources.Get "/images/helpdesk/helpdesk-logo.avif" | fingerprint }}
        {{ $homelogo_webp := resources.Get "/images/helpdesk/helpdesk-logo.webp" | fingerprint }}
        {{ $homelogo := resources.Get "/images/helpdesk/helpdesk-logo.jpg" | fingerprint }}
        <source type="image/avif" srcset="{{ $homelogo_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $homelogo_webp.RelPermalink }}">
        <img src="{{ $homelogo.RelPermalink }}" alt="Home Crest" class="object-cover w-full h-full">
    </picture>

    <picture class="object-cover w-full h-full opacity-0 dark:brightness-75"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-0');"
        >
        {{ $homeiphone_avif := resources.Get "/images/helpdesk/helpdesk-browser.avif" | fingerprint }}
        {{ $homeiphone_webp := resources.Get "/images/helpdesk/helpdesk-browser.webp" | fingerprint }}
        {{ $homeiphone := resources.Get "/images/helpdesk/helpdesk-browser.jpg" | fingerprint }}
        <source type="image/avif" srcset="{{ $homeiphone_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $homeiphone_webp.RelPermalink }}">
        <img src="{{ $homeiphone.RelPermalink }}" alt="Device Mockup Phones" class="object-cover w-full h-full">
    </picture>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="antialiased leading-normal my-8">
        <p class="mb-4">
            Created using the Laravel Framework, users are presented with a simple set of forms to log issues around the
            estate.
        </p>
        <p class="mb-4">
            Engineers can then view the tickets created and provide corespondance while the issue is resolved. Updates
            provided notify the interested parties either via email or helpdesks own notification system.
        </p>
        <p class="mb-4">
            Additional meta data can be assigned to tickets along with assets held in the system, each ticket and asset
            then has full audit trail of all actions taken
        </p>
        <p class="mb-4">
            Managers can view feedback from tickets as well as detailed analytics and service level agreements, data can
            be viewed in cusomisable graphs or exported to csv for a manager to manipulate in software of their choice.
        </p>
        <p class="mb-4">
            Tickets can be assigned automatically to engineers or helpdesks using a custom trained tensorflow model, or
            using round robbin, random, least busy engineer.
        </p>
        <p class="mb-4">
            Assets for the College are tagged with QR codes, that can be scanned using Helpdesks built in scanner to
            either audit the assets, add them to a ticket or search to find out further information.
        </p>

    </div>
    <div>
        <div class="my-8 grid grid-cols-2 gap-0">
            <div class="font-semibold">Stack</div>
            <div class="font-light">
                <a href="https://github.com" target="_blank">Github</a><br />
                <a href="https://aws.amazon.com/ec2/" target="_blank">Amazon EC2</a><br />
                <a href="https://aws.amazon.com/rds/" target="_blank">Amazon RDS</a><br />
                <a href="https://aws.amazon.com/certificate-manager/" target="_blank">Amazon Certificate
                    Manager</a><br />
                <a href="https://aws.amazon.com/route53/" target="_blank">Amazon Route53</a><br />
                <a href="https://aws.amazon.com/cloudfront/" target="_blank">Amazon Cloudfront</a><br />&nbsp;
            </div>
            <div class="font-semibold">Libraries & Technologies</div>
            <div class="font-light">
                HTML5<br />
                <a href="https://laravel.com" target="_blank">Laravel</a><br />
                <a href="https://tailwindcss.com" target="_blank">Tailwind.Css</a><br />
                <a href="https://alpinejs.dev" target="_blank">Alpine.Js</a><br />
                <a href="https://www.tensorflow.org" target="_blank">Tensorflow</a><br />
                <a href="https://ldaprecord.com" target="_blank">Ldap</a><br />
                <a href="https://developer.chrome.com/docs/workbox/" target="_blank">Workbox</a><br />&nbsp;
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8" x-data>
    <picture class="object-cover w-full h-full opacity-0 dark:brightness-75"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-0');"
        >
        {{ $homebrowser_avif := resources.Get "/images/helpdesk/helpdesk-phone.avif" | fingerprint }}
        {{ $homebrowser_webp := resources.Get "/images/helpdesk/helpdesk-phone.webp" | fingerprint }}
        {{ $homebrowser := resources.Get "/images/helpdesk/helpdesk-phone.jpg" | fingerprint }}
        <source type="image/avif" srcset="{{ $homebrowser_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $homebrowser_webp.RelPermalink }}">
        <img src="{{ $homebrowser.RelPermalink }}" alt="Device Mockup Browser" class="object-cover w-full h-full">
    </picture>

    <picture class="object-cover w-full h-full opacity-0 dark:brightness-75"
        x-intersect.once="$el.classList.add('PopIn'); $el.classList.remove('opacity-0');"
        >
        {{ $homeipad_avif := resources.Get "/images/helpdesk/helpdesk-ipad.avif" | fingerprint }}
        {{ $homeipad_webp := resources.Get "/images/helpdesk/helpdesk-ipad.webp" | fingerprint }}
        {{ $homeipad := resources.Get "/images/helpdesk/helpdesk-ipad.jpg" | fingerprint }}
        <source type="image/avif" srcset="{{ $homeipad_avif.RelPermalink }}">
        <source type="image/webp" srcset="{{ $homeipad_webp.RelPermalink }}">
        <img src="{{ $homeipad.RelPermalink }}" alt="Device Mockup iPad" class="object-cover w-full h-full">
    </picture>
</div>


{{- partial "footer.html" . -}}
{{ end }}