<div class="grid grid-cols-2 gap-8 h-20">
    <div>
        <!-- Logo  -->
    </div>
    <div>
        <a href="/about" class="antialiased mr-4 hover:text-cyan-600">About</a>
        <a href="/work" class="antialiased mr-4 underline decoration-cyan-600 decoration-2 underline-offset-4 hover:text-cyan-600">Work</a>
        <a href="/cv" class="antialiased mr-4 hover:text-cyan-600">Curriculum Vitae</a>
        <a href="/contact" class="antialiased mr-4 hover:text-cyan-600">Contact</a>
        <a href="https://github.com/atomicjam" target="_blank" class="antialiased mr-4 hover:text-cyan-600">Github</a>
    </div>
</div>